.repositorio{
    display: flex;
    flex-direction: column;
    align-items: start;
    border-bottom: 1px solid white;
    gap: 20px;
}

.nameRep{
    color: #539BF5;
    font-size: 22px;
}
.desCard{
    margin-bottom: 15px;
    color:white;
    font-size: 14px
    ;
}
